@{
    ViewBag.Title = "Information regarding Ryan Park";
    ViewBag.Message = "";
}
<h2 style="color:white;">@ViewBag.Title.</h2>
<h3 style="color:white;">@ViewBag.Message</h3>

<p style="color:white;">My name is Ryan Park and I am a senior at Ohio University. I am majoring in Management Information Systems and Data Analytics. I hope upon graduation I have a full time job opportunity regarding MIS and programming. I became interested in MIS after I took the non-major MIS course. That class was extremely fun and I changed my major after taking the course. I also enjoy watching NFL and college football and hanging out with my friends.
<p><a class="btn btn-default" href="https://www.linkedin.com/in/ryan-park-ou/">Click to visit my LinkedIn Profile! &raquo;</a></p>
