@{
    ViewBag.Title = "Contact Information";
    ViewBag.Message = "";
}
<h2 style="color:white;">@ViewBag.Title.</h2>
<h3 style="color:white;">@ViewBag.Message</h3>

<address style="color:white;">
    Full Name: Ryan Edward Park<br />
    Address: 15 S Shafer Street<br />
    City: Athens<br />
    State: Ohio<br />
    Zip Code: 45701<br />
    Primary Email: parkryan17@gmail.com<br />
    Phone: 740.637.9328
</address>