@{
    ViewBag.Title = "Home Destination";
}

<div class="jumbotron">
    <h1 style="color:mediumseagreen;">Ryan Park</h1>
    <p class="lead" style="color:mediumseagreen">This web application is for Ryan Park who is currently a senior at Ohio University. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:mediumseagreen;">School</h2>
        <p style="color:white">I have been enrolled through Ohio University in Athens for 4 years. I intend on graduating in May of 2020 and I would enjoy being a business analyst or programmer one day.</p>
    </div>
    <div class="col-md-4">
        <h2 style="background-color:black; color:mediumseagreen;">Information</h2>
        <p style="color:white;">I am a senior at Ohio University studying Management Information Systems and Data Analytics</p>
    </div>
    <div class="col-md-4">
        <h2 style="color:mediumseagreen;">Interests</h2>
        <p style="color:white;">I am interested in programming and web application development. One day I want to be a full time programmer or software developer.</p>
    </div>
</div>